<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project_code</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/styles/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/styles//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/styles//favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../static/styles/favicon.ico">
    <script src="../static/script/indexscript.js"></script> 
    <link rel="stylesheet" type="text/css" href="../static/styles/indexstyles.css">
</head>
<body>
    <form method="GET" action="{{ url_for('selectautomation') }}">
    <input type="submit" value="UIAutomation" name="action_1">
    <br>
    <input type="submit" value="APIAutomation" name="action_2">
</form>
</body>