<!DOCTYPE html>

<html lang="en">
<head>
    <title>Project_code</title>
    <script src="../static/script/indexscript.js"></script> 
    </head>
<body onload="display_ct();">
    <h1>Project_Code</h1>
    <form method="POST" action="{{ url_for('browser') }}">
    <label>Choose a browser :</label>
    <select name="browsers">
    {% for o in data %}
    <option value="{{ o.name}}">{{o.name}}</option>
    {% endfor %}
    </select>
    <br>
    <label>Please enter the url :</label>
    <input type="text" name="url_input">
    <br>
    {% for i in range(0,test) %}
    <select name="Actions" onchange="yesnoCheck(this);">
    {% for o in actions %}
    <option value="{{ o.action}}">{{o.action}}</option>
    {% endfor %}
    </select>
    <input type="text" name="Xpath_info">
    <br>
    <div id="ifYes" style="display: none;">
    <label>Enter the data :</label><input type="text" name="Input_text">
    </div>
    {% endfor %}
    <button type="submit" value="Select_Browser">Select</button>
    </form>
    <form method="POST" action="{{ url_for('input_count') }}">
        <label>Enter the number of fields required :</label>
        <input type="number" name="number_input">
        <br>
        <button type="submit" value="Select_data">InputSubmit</button>
    </form>
    <span id='ct' ></span><!--  this field is used to display clock -->
</body>
</script> 
